{% extends "themes/base_admin.html.twig" %}

{% block title %}Lire la recette -{{ recipe.id }}: {{recipe.title}}{% endblock %}

{% block description %}{{recipe.description}}{% endblock %}

{% block main %}

    <div class="container">
        <div class="text-center">
            {# {% if recipe.image %} #}
                <img class="img-fluid" src="{{ vich_uploader_asset(recipe, 'imageFile') }}" alt="{{ recipe.title }}">
            {# {% endif %} #}

            <h1 class="text-center my-3 display-6">{{recipe.title}}</h1>

            <div class="my-3">
                <small>Créé le {{recipe.createdAt|format_date()}}</small> <br>
                <small>Modifié le {{recipe.updatedAt|format_date()}}</small> <br>
                {% if recipe.isPublished %}
                <small>Publié le {{recipe.publishedAt|format_date()}}</small> <br>
                {% endif %}
            </div>
        </div>

        <div class="my-5">

            <p>La catégorie: <span class="badge text-bg-primary">{{recipe.category.name}}</span></p>

                {% if recipe.tags is not empty %}
                    <p>
                        Les tags: 
                        {% for tag in recipe.tags %}
                            <span class="badge text-bg-secondary">{{tag.name}}</span> 
                        {% endfor %}
                    </p>
                {% endif %}
                {% if recipe.ingredients is not empty %}
                    <p>
                        Les ingrédients: 
                        {% for ingredient in recipe.ingredients %}
                            <span class="badge text-bg-secondary">{{ingredient.name}}</span> 
                        {% endfor %}
                    </p>
                {% endif %}

        {# raw pour filtrer < fgdf> #}
            {{recipe.content|raw}}
        </div>
    </div>

{% endblock %}