{% extends 'themes/base_visitor.html.twig' %}

{% block title %}{{recipe.title}}{% endblock %}

{% block description %}{{recipe.description}}{% endblock %}

{% block keywords %}
    {% if recipe.keywords %}
        <meta name="keywords" content="{{recipe.keywords}}">
    {% endif %}
{% endblock %}

{% block font_awesome %}
    {# Font Awesome pour les icones#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer">
{% endblock %}


{% block main %}


    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto my-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{path('app_visitor_blog_index')}}">Liste des recettes</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{recipe.title|u.truncate('60','...')}}</li>
                    </ol>
                </nav>

                 <div class="text-center">
                   
                    <img class="img-fluid rounded" src="{{ vich_uploader_asset(recipe, 'imageFile') }}" alt="{{ recipe.title }}">
                    
                    <h1 class="my-3 display-6">{{recipe.title}}</h1>

                    <small>Publié {{recipe.publishedAt|ago}} par
                        {% if recipe.user %}
                            <strong>{{recipe.user.firstName}} {{recipe.user.lastName}}</strong>
                        {% else %}
                            <strong>Sophie Lemoine</strong>
                        {% endif %}
                    </small>
                </div>

                <div class="my-5">
                    {{recipe.content|raw}}
                
                    <div class="mt-4 d-flex align-items-center gap-4 flex-nowrap">
                        <div class="d-flex align-items-center gap-2">
                            <a id="like-link" href="{{path('app_visitor_blog_recipe_like', {'id':recipe.id, 'slug':recipe.slug})}}" class="text-danger text-decoration-none">
                                {% if app.user and recipe.isAlreadyLikedBy(app.user)%}
                                    <i class="fa-solid fa-heart"></i>
                                {% else %}
                                    <i class="fa-regular fa-heart"></i>
                                {% endif %}
                            </a>
                            <span id="total-likes-container">{{recipe.likes|length}}</span>
                            <span><strong>J'aime</strong></span>
                        </div>
         
                    <div class="d-flex align-items-center gap-2">
                        <span>Notez cette recette :</span>

                            
                            <div class="d-flex gap-1">

                                {% set userRating = recipe.getUserRating(app.user) %}

                                {% for i in 1..5 %}
                                    <a href="{{ path('app_visitor_blog_recipe_rating', {
                                        id: recipe.id,
                                        slug: recipe.slug,
                                        value: i
                                    }) }}" class="rating-link text-warning text-decoration-none" data-value="{{ i }}">

                                        {% if userRating is not null and i <= userRating|number_format %}
                                            <i class="fa-solid fa-star"></i>
                                        {% else %}
                                            <i class="fa-regular fa-star"></i>
                                        {% endif %}
                                    </a>
                                {% endfor %}

                            </div>

                                <span id="average-rating">
                                    <strong>Moyenne :</strong>
                                    {{ recipe.getAverageRating()|number_format(1) }}/5
                                </span>

                                {% if app.user %}
                                    <span id="user-rating">
                                        <strong>Votre note :</strong>
                                        {{ userRating ?? 'Aucune' }}
                                    </span>
                                {% endif %}


                    </div>
                    </div>
                </div>
            

                <hr>
                <div>
                    {% if app.user %} 
                        {# Form #}
                        {{form_start(commentForm, {'action': path('app_visitor_blog_recipe_show', {'id':recipe.id, 'slug':recipe.slug})~'#comments-container'})}}
                            <div class="mb-3">
                                <label for="comment_form_content" class="h2">Laissez un commentaire</label>
                                <div class="text-danger">{{form_errors(commentForm.content)}}</div>
                                {{form_widget(commentForm.content, {'attr': {'class':'form-control', 'rows':4}})}}
                            </div>
                            <div>
                                <input formnovalidate type="submit" class="btn btn-primary shadow" value="Commenter">
                            </div>
                        {{form_end(commentForm)}}
                    {% else %}
                        <p><strong>Veuillez vous connecter afin de laisser un commentaire:</strong> <a href="{{path('app_login')}}" class="btn btn-lg btn-outline-primary">Se connecter</a></p>
                    {% endif %}              
                </div>
                <hr>


                <div id="comments-container">
                    {% if recipe.comments is not empty %}
                        <h2>Liste des commentaires</h2>
                        {# reverse inverse l'ordre de l'affichage de la liste des commentaires #}
                        {% for comment in recipe.comments|reverse %}
                            {% if comment.isActivated %}
                                <div class="shadow p-3 my-4 rounded">
                                    <p>
                                        <strong>{{comment.user.firstName}} {{comment.user.lastName}}</strong>
                                        <small>Publié {{comment.createdAt|ago}}</small>                                
                                    </p>
                                    <div>
                                        {{comment.content}}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div> 

        
            </div>
        </div>
    </div>  
{% endblock %}

    {% block j_query %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock %}

    {% block javascripts_added %}
    <script>
        $(document).ready(function(){
            $('#like-link').on('click', function(event){
                event.preventDefault();

                const link = $(this);           //  lien cliqué
                const icon = link.find('i');    //  SON icône uniquement


                $.ajax({
                    url: this.href,
                    type: 'GET',
                    success: function(response) {
                        $("#total-likes-container").html(response.totalLikesUpdated);

                        if (response.isLiked) {
                            icon.removeClass('fa-regular').addClass('fa-solid');
                        } else {
                            icon.removeClass('fa-solid').addClass('fa-regular');
                        }
                        
                    },
                    error: function(response) {
                        if (403 == response.status) {
                            alert(response.responseJSON.message);
                        } else {
                            alert("Une erreur est survenue, veuillez réessayer plus tard.");
                        }
                    }
                });
            });
        });
    </script>

    {% block javascripts_added_rating %}
    <script>
        $(document).ready(function(){
            $('.rating-link').on('click', function(event){
                // ne pas recharger la page
                event.preventDefault();

                const link = $(this);
                const value = link.data('value');

// on envoie les informations dans fichier ajax sous forme de tableau

                    $.ajax({
                        url: link.attr('href'),
                        type: 'GET',
                        success: function(response) {

                            // mettre à jour les icones étoiles
                            $('.rating-link').each(function(){
                                
                                const starValue = $(this).data('value');
                                const icon = $(this).find('i');

                                if (starValue <= response.userRating) {
                                    icon.removeClass('fa-regular').addClass('fa-solid');
                                } else {
                                    icon.removeClass('fa-solid').addClass('fa-regular');
                                }
                            });

                            // mettre à jour la moyenne
                            $('#average-rating').html('<strong>Moyenne :</strong> ' + response.average.toFixed(1) + '/5');

                            // mettre à jour la note utilisateur
                            $('#user-rating').html('<strong>Votre note :</strong> ' + response.userRating);
                          
                        },
                    error: function(response) {
                        if (403 == response.status) {
                            alert(response.responseJSON.message);
                        } else {
                            alert("Une erreur est survenue, veuillez réessayer plus tard.");
                        }
                    }
                });
            });
        });
    </script>


{% endblock %}
{% endblock %}