<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %} - Le blog de Sophie Lemoine</title>
        {# Minimum du responsive design #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {# SEO #}
        {# <meta name="robots" content="index, follow"> #}
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="author" content="Sophie Lemoine">
        <meta name="publisher" content="Fatna Benali">
        <meta name="theme-color" content="#E63946">

        {# Favicon #}
                 
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="manifest" href="/site.webmanifest">
        {# Google Font #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        {# Font Awesome pour les icones#}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer">
        {# WebpackEncore stylesheets #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

         {# WebpackEncore javascripts #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>

    <body class="body-visitor">
        {# Navbar #}
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{path('app_visitor_welcome')}}">SL</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                {# Mettre à gauche #}
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{path('app_user_home')}}">Tableau de bord</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{{path('app_user_profile_index')}}">Mon profil</a>
                        </li>
                         {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                            <a class="nav-link" href="{{path('app_admin_home')}}">Espace admin</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_visitor_welcome')}}">Retour au site</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
                        </li>
                    </ul>
                    {# Mettre à droite #}
                    
                   
                </div>
            </div>
        </nav>

       {# Main#}
       <main>
        {% block main %}{% endblock %}
       </main>
       
        {# Footer#}
        <footer class="text-center">
            <p>Sophie Lemoine</p>
        </footer>

      
    </body>

</html>
